@mixin transition-all {
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@mixin background-cover {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
